*{
    background-color: black;
    margin: 0px;
    border: 50%;
    box-sizing:border-box;
  
}
.first{
    color:white;
    
}
.second{
    color: white;
}
.third{
    color:white;
    background-color: cadetblue;
    width: 200px;
    height: 30px;
    border-radius: 20px;
}
.fourth{
    color:mediumblue;
    width: 200px;
    height: 30px;
    border-color:2px solid mediumblue;
    border-radius: 20px;
}
.fifth{
    padding: 30px;
    float: right;
    width: 450px;
    height: 450px;
    margin-top: 50px;

}